body {
    color: white;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    background-image: url("../imagenes/StarRailBackground.jpg");
}

a {
    color: gold;
    font-size: large;
}

a:hover {
    color: gray;
}